@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
$font-1: 'Varela Round', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&family=Sulphur+Point:wght@300&display=swap');

$fontT-1: 'Kodchasan', sans-serif;
$fontW-1: 'Sulphur Point', sans-serif;

$background : #151313;
$colorA : #9cb1ee;
$colorB : #b1465b;
$colorC : #746db4;
$colorD : #825eee;
$color : #e3e6ef;

/*$background : var(--background);
$colorA : var(--colora);
$colorB : var(--colorb);
$colorC : var(--colorc);
$colorD : var(--colord);
$colorWrite : #a19999;
$colorForm : rgb(247, 242, 242);*/

// Breakpoints.

.App {
    position: relative;
    min-height: 100vh;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:0;
    background-color: $background;
    overflow-x: hidden;
    padding-left: calc(100vw - 100%);
    width: 100%;
    height: 100vh;
    font-family: $fontW-1;
    * {
        text-decoration: none;
        list-style: none;
    }
    *:visited {
        text-decoration: none;
    }
}

ol, ul {
    list-style:none;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    font-family: $fontW-1;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

p, button {
    font-family: $fontW-1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontT-1;
    line-height: $fontT-1;
    text-transform: uppercase;

    a {
        color: inherit;
        text-decoration: none;
    }
}

h2 {
    font-size: 1.35em;
    line-height: 1.75em;

}

h3 {
    font-size: 1.15em;
    line-height: 1.75em;

}

h4 {
    font-size: 1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.8em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

a {
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none;
    border-bottom-color: transparent;
}